
div.header {
    width: 100%;
    height: 640px;
    background: pink;
    position: relative;
}
div.header .container{
    transition:all 3s;
    margin:-20px auto;
    width:1px;
    height: 400px;
    animation: around 8s infinite ease;
}
div.header .container .line{
    width: 5px;
    height: 140px;
    background-color: #ffffff;
    margin: auto;}
div.header .container .ball {
    width: 150px;
    margin-left: -70px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #ffffff;
}
div.header .container .ball img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
}
@keyframes  around{
    0% {transform: rotate(38deg ); transform-origin: top;}
    50% {transform: rotate(-38deg);  transform-origin: top}
    100%{transform: rotate(38deg); transform-origin: top}
}
div.header .head-text {
    position: absolute;
    left: 24%;
    top: 65%;
    z-index: 999;
    width: 740px;
}
div.header .head-text p {
    font-size: 35px;
    opacity: 0;
    display: inline-block;
    margin: 3px;
    color: #11b1fb;
    font-family: STXinwei ;
}

#header {
    width: 300px;
    height: 60px;
    position: absolute;
    right: 10%;
    top: 0;
    z-index: 2;
}
#header{
    position: fixed;
    top: 0;
    right: 80px;
}
.rightsidebar ul {
    width: 400px;
    height: 60px;
}

.rightsidebar ul li {
    float: left;
    margin: 30px;
    color: #ffffff;
    opacity: 1;
}

.rightsidebar ul li a {
    font-size: 24px;
    color:#e1eaee;
    opacity: 0.6;
    font-family: STXinwei ;
}
audio{
    position: absolute;
    left: 0%;
    bottom: -70px;
}
div.header .call{
    position: absolute;
    left: 46%;
    top: 85%;

}
div.header .call .botton{
    width: 110px;
    height: 40px;
    position: absolute;
    left: 46%;
    top: 85%;
    background: -webkit-linear-gradient(antiquewhite,tomato);
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    line-height: 40px;
    color: #FFFFFF;
    box-shadow: 0px 2px 5px #ffffff;
    -webkit-transition: 0.5s all ease;
}
div.header .call a.botton:hover{
    box-shadow:inset 0 0 30px #fff;
}
div.header .call a.botton:active{
    box-shadow: 0px 0px 5px 5px #ffffff;
}

div.header .call a.botton {
    z-index: 999;
}
.main{
    width: 1260px;
    height: 630px;
    border: 1px solid #000000;
    overflow: hidden;
    position: relative;
}
.main img{
    background-size: 100%;
    display: block;
    width: 1260px;
    height: 630px;
}
.main .shade{
    width: 800px;
    height: 430px;
    background: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -215px;
    z-index: 999;
    opacity: 0.5;
}
.main .skill{
    width: 686px;
    height: 342px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    z-index: 999;
    margin-top:-190px;
}
.main .skill ul.list_one{
    width: 800px;
    height: 430px;
}
.main .skill ul.list_one li.list_text{
    width: 700px;
    height: 40px;
    width: 680px;
    background: #d6efff;
    border-left: 5px solid #2a7da9;
    margin-bottom: 20px;
    padding-left: 10px;
    position: relative;
}
.main .skill ul.list_one li.list_text:nth-child(2){
    width: 630px;
}
.main .skill ul.list_one li.list_text:nth-child(3){
    width: 560px;
    background: #eaf6d0;
    border-left: 5px solid #6e9c0f;
}
.main .skill ul.list_one li.list_text:nth-child(4){
    width: 490px;
    background: #eaf6d0;
    border-left: 5px solid #6e9c0f;
}
.main .skill ul.list_one li.list_text:nth-child(5){
    width: 420px;
    background: #eaf6d0;
    border-left: 5px solid #6e9c0f;
}
.main .skill ul.list_one li.list_text:nth-child(6){
    width: 350px;
    background: #fff6dd;
    border-left: 5px solid #ff742a;
}
.main .skill ul.list_one li.list_text h4{
    font-size: 20px;
    line-height: 40px;
}
.main .skill h2{
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
}
.main .skill ul.list_one li.list_text ul.list_tow{
    width: 330px;
    height: 120px;
    background: #ffffff;
    border-radius: 5px;
    z-index: 10000;
    position: absolute;
    left: 40%;
    top: 40%;
    display: none;

}
.main .skill ul.list_one li.list_text:hover ul.list_text{
     display: block;
 }
.main .skill ul.list_one li.list_text ul.list_tow li{
    margin: 10px 5px 10px  5px;
    font-size: 14px;
    padding-left: 4px;
}

